@model restaurangprojekt.Models.CreateOrderDto

@{
    ViewData["Title"] = "Redigera Order";
}

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Min MVC-app</title>
    <link rel="stylesheet" href="~/css/Order.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form asp-action="Edit" method="post">
        <input type="hidden" name="OrderID" value="@Model.OrderID" />

        <div class="form-group">
            <label for="UserID">Användar-ID</label>
            <input type="number" class="form-control" id="UserID" name="UserID" value="@Model.UserID" required />
        </div>

        <div class="form-group">
            <label for="RoomID">Rumsnummer</label>
            <input type="number" class="form-control" id="RoomID" name="RoomID" value="@Model.RoomID" required />
        </div>

        <div class="form-group">
            <label for="IsRoomService">Rumsservice</label>
            <input type="checkbox" class="form-control" id="IsRoomService" name="IsRoomService" @(Model.IsRoomService ? "checked" : "") />
        </div>

        <div class="form-group">
            <label for="LunchQuantity">Antal Luncher</label>
            <input type="number" class="form-control" id="LunchQuantity" name="LunchQuantity" value="@Model.LunchQuantity" required />
        </div>

        <button type="submit" class="admin-btn admin-btn-add">Uppdatera Order</button>
        <a asp-action="Index" class="admin-btn admin-btn-secondary">Tillbaka till Ordrar</a>
    </form>
</div>
